<h1>Listing People</h1>

<%= link_to 'New Person', new_person_path %>

<table style="position: absolute">
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @people.each do |person| %>  
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= person.name %></td>
        <td><%= person.weight %></td>
        <td><%= person.height %></td>
        <td><%= person.color %></td>
        <td><%= link_to 'Show', person_path(person) %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person_path(person), 
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <div id="graph" style="background-color: <%= person.color %>; width: <%= person.weight %>px; height: <%= person.height %>px;">
        <p><%= person.name %></p>
      </div>
    <% end %>
  </tbody>
</table> 